<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<style>
		*{padding:0;margin:0;}
		body{
              background-color:#F3F3F3;
            }
		#top{
			width:100%;
			height:40px;
			background-color:#323232;
			margin-bottom:100px;
		}
		a{
			float:right;
			margin:0 10px;
			font-size:20px;
			color:#fff;
			text-decoration: none;
			line-height:40px;
		}
	</style>
</head>
<body>
	<div id="top" >
		<a href="__MODULE__/Login/toReg">Register</a>
		<a href="__MODULE__/Login/index">Login</a>
	</div>
	<center>
		<h1>Welcome to University Dating</h1>
	</center>
</body>
</html>